ase==3.22.1
bottle==0.13.1
contourpy==1.2.0
cycler==0.12.1
fonttools==4.47.0
future==1.0.0
kiwisolver==1.4.5
lzstring==1.0.4
matplotlib==3.8.2
pillow==10.2.0
pyparsing==3.1.1
rdkit==2024.3.5
scipy==1.11.4
setuptools==75.1.0
wheel==0.44.0
